/* TaskForm.module.css */

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  max-width: 300px;
  margin: auto;
}

.control {
  width: 100%; /* Ensure controls take full width */
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block; /* Ensure labels are on a new line */
}

input {
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 98px;
  width: 100%;
  box-sizing: border-box; /* Include padding in the width */
}

.actions {
  text-align: right;
}

button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

button:hover,
button:active {
  background-color:darkolivegreen;
}
