* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: white;
  background-color:whitesmoke;
}

button {
  font: inherit;
  cursor: pointer;
  background-color:mediumorchid;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color:mediumorchid;
  border-color: whitesmoke;
}